
.root-container {
    margin-top: 1em;

    .parent-container {
        display: flex;
        justify-content: space-between;
        background-color: #b2beed;
        height: 3em;
        align-items: center;
        padding: 0 1em;

        .title {
            margin-left: 10em;
        }

        .right-container {
            display: flex;
        }

        .left-container {
            display: flex;
            justify-content: space-between;
            width: 150px;
        }
    }

    .child-container {
        margin-top: 1em;
        margin-left: 1em;
    }

    .form-Container {
        height: 180px;
        background-color: #d6a9d4;
        margin-top: 1em;
        padding: 0.5em;

        .control {
            display: flex;
            width: 20em;
            justify-content: space-between;
            margin: .5em;

            input {
                margin-left: 1em;
            }

            select {
                width: 12.8em;
            }

            .transparent {
                background: transparent;
                border: 0;
            }
        }
    }
}



