<div class="root-container">
    <div class="parent-container">
        <div class="right-container">
            <button (click)="toggle()">Expand/Collapse</button>

            <div class="title">
                <span *ngIf="!node.edit">{{node.title}}</span>
                <input *ngIf="node.edit" type="text" [(ngModel)]="node.title" />
            </div>
        </div>
        <div class="left-container">
            <button (click)="edit()">{{ node.edit ? 'Save': 'Edit' }}</button>
            <button (click)="add()">Add</button>
            <button (click)="delete()">Delete</button>
        </div>
    </div>
    <div *ngIf="node.expand && node.form" class="form-Container">
        <form [formGroup]="node.form">
            <div class="control">
                <label for="renderAs">RenderAs</label>
                <select formControlName="renderAs">
                    <option *ngFor="let item of renderAs" [value]="item">{{item}}</option>
                </select>
            </div>
            <div class="control">
                <label for="nodeName">Node Name</label>
                <input type="text" formControlName="nodeName" title="nodeName" />
            </div>
            <div class="control">
                <label for="value">Value:</label>
                <select formControlName="valueKey" class="transparent">
                    <option *ngFor="let item of valueKeys" [value]="item">{{item}}</option>
                </select>
                <select formControlName="value">
                    <option *ngFor="let item of valueList" [value]="item">{{item}}</option>
                </select>
            </div>
            <div class="control">
                <label for="defaultValue">Default Value</label>
                <input type="text" formControlName="defaultValue" title="defaultValue" />
            </div>
            <div class="control">
                <label for="dataType">Data Type</label>
                <select formControlName="dataType">
                    <option *ngFor="let item of dataTypes" [value]="item">{{item}}</option>
                </select>
            </div>
            <div class="control">
                <label for="isRequired">Is Required</label>
                <select formControlName="isRequired">
                    <option *ngFor="let item of requiredOptions" [value]="item">{{item}}</option>
                </select>
            </div>
        </form>
    </div>
    <div *ngIf="node.children && node.children.length > 0" class="child-container">
        <app-tree *ngFor="let child of node.children" [node]="child"></app-tree>
    </div>
</div>
